extends index

block content2

    h3(style="font-weight:bold")="New Order"
    br
    p="New order is submitted by Remite, Marketing. Please login your link builders-account and process your order"
    p="If you want to follow the process and see what links has gone live, please do so from your Link.Builders-account."
    br
    br
    b="Name: "
    span="Remite Marketing"
    br
    b="Order Number: "
    span="22105"
    br
    b="Number of Links: "
    span="8"
    br
    b="Total amount:"
    span=" €5768.68"
    br
    b="Order Date: "
    span="03/01/22"
    br
    br
    br
    div.tableScrollable 
        table.table.table-responsive
            thead   
                tr 
                    th.col="Link Form"
                    th.col="Link To"
                    th="publish Date"
                    th="type"
                    th="€ content"
                    th="€ link"
                    th="€ Total"
            tbody 
                tr
                    td
                        a(href="http://campussports.net")="http://campussports.net"
                    td
                        a(href="http://bestuk.casino/not-on-gamstop")="http://bestuk.casino/not-on-gamstop"
                    td="09/01/22"
                    td=""
                    td="€75"
                    td="€154.6"
                    td="€229.6"
                tr
                    td
                        a(href="http://www.companionlink.com")="http://www.companionlink.com"
                    td
                        a(href="http://bestuk.casino/not-on-gamstop")="http://bestuk.casino/not-on-gamstop"
                    td="09/01/22"
                    td=""
                    td="€50"
                    td="€79.51"
                    td="€129.51"
                tr
                    td
                        a(href="http://www.dailygame.net")="http://localhost:5000/content2"
                    td
                        a(href="http://bestuk.casino/not-on-gamstop")="http://bestuk.casino/not-on-gamstop"
                    td="14/01/22"
                    td=""
                    td="€50"
                    td="€229.7"
                    td="€279.7"
                tr
                    td
                        a(href="http://footballpink.net")="http://localhost:5000/content2"
                    td
                        a(href="http://bestuk.casino/not-on-gamstop")="http://bestuk.casino/not-on-gamstop"
                    td="17/01/22"
                    td="Index/Frontpage"
                    td="€0"
                    td="€575"
                    td="€575"
                tr
                    td
                        a(href="http://chelsea-news.co/")="http://chelsea-news.co"
                    td
                        a(href="http://casinomir.com/casinos-not-on-gamstop")="http://casinomir.com/casinos-not-on-gamstop"
                    td="08/01/22"
                    td="Article"
                    td="€50"
                    td="€357.33"
                    td="€407.33"
                tr
                    td
                        a(href="http://TechRound.co.uk")="http://TechRound.co.uk"
                    td
                        a(href="http://casinomir.com/casinos-not-on-gamstop")="http://casinomir.com/casinos-not-on-gamstop"
                    td="10/01/22"
                    td=""
                    td="€50"
                    td="€297.78"
                    td="€347.78"
                tr
                    td
                        a(href="http://talk-business.co.uk")="http://talk-business.co.uk"
                    td
                        a(href="http://casinomir.com/casinos-not-on-gamstop")="http://casinomir.com/casinos-not-on-gamstop"
                    td="15/01/22"
                    td="Index/Frontpage"
                    td="€0"
                    td="€3287.45"
                    td="€3287.45"
                tr
                    td
                        a(href="http://TechPresident.com")="http://TechPresident.com"
                    td
                        a(href="http://casinomir.com/casinos-not-on-gamstop")="http://casinomir.com/casinos-not-on-gamstop"
                    td="17/01/22"
                    td=""
                    td="€75"
                    td="€435.31"
                    td="€512.31"
    br
    br
    br
    div(style="display:flex;flex-direction:column;justify-content: center;align-items:center;width:100%;")
        a(href="https://app.link.builders")
            button(class="btn btn-lg btn-primary " )="Login to Link.Builders"
    br
    br
    br
    i
        h3(style="opacity:0.8")="Through our platform, Content 2 be able to..."
    br
    p="- Monitor your links: we are checking the links every day and you will notice if a link disappears, is changing rel-attribute, anchor text or similar."
    br
    p="- Import all backlinks and monitor links not bought through us as well"
    br
    p="- Visualize your data in dashboards including anchor texts, JuiceFlow, link growth over-time etc"
    br
    p="- Generate link schedules based on your preferences"
    br
    p="....and much more. We are looking forward to see you soon again!"

    br
    br
    br