extends index

block content

    h3(style="font-weight:bold")="ORDER CONFIRMATION"
    br
    p="Thank you for your order. We will inform the webmasters about your order and will notify you when the order has been fully processed."

    p="If you want to follow the process and see what links has gone live, please do so from your Link.Builders-account."
    br
    br
    b="Name:"
    span=" Lucas Gerhardsson"
    br
    b="Order Number: "
    span="2163"
    br
    b="Number of Links: "
    span=" 2"
    br
    b="Total amount:"
    span=" €451"
    br
    b="Order Date: "
    span="16/09/21"

    br

    br
    br
    br
    div(style="display:flex;flex-direction:column;justify-content: center;align-items:center;width:100%;")
        button(class="btn btn-lg btn-primary ")="Login to Link.Builders"
    br
    br
    br
    i
        h3(style="opacity:0.8")="Through our platform, you will be able to..."
    br
    p="- Monitor your links: we are checking the links every day and you will notice if a link disappears, is changing rel-attribute, anchor text or similar."
    br
    p="- Import all backlinks and monitor links not bought through us as well"
    br
    p="- Visualize your data in dashboards including anchor texts, JuiceFlow, link growth over-time etc"
    br
    p="- Generate link schedules based on your preferences"
    br
    p="....and much more. We are looking forward to see you soon again!"

    br
    br
    br