doctype html

html
  head
    title= `${title}`
    link(rel='stylesheet' 
        href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' 
        crossorigin='anonymous')
    link(rel='stylesheet' href='styles/styles.css' type='text/css')

    script(src='https://code.jquery.com/jquery-3.2.1.min.js'
           integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
           crossorigin='anonymous')
           
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
           integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' 
           crossorigin='anonymous')

  body(style="margin:0px;padding:0px")
    
    div(style="margin:0px;")
        include header.pug
        +header()

    div(class='container-fluid' style="color:rgb(69,69,69,0.9)")
        .container
            div(class="col-lg-10")
                block content

    div(style="margin:0px;background-color:black;color:white;")
        div(class='container-fluid' style="display:flex;flex-direction:coloumn;align-content:center;justify-content:center")
            include footer.pug
            +footer(.row,.col-sm-4,col-lg-12)
    