extends index

block linkPublished
    br
    h4(style="font-weight:bold")="CONGRATULATION! ONE OF YOUR ORDER ITEM GOT PUBLISHED"
    br
    span="Hi: "
    span(style="font-weight:bold")="Zelalem Client"
    br
    br
    span="We have published one link item at order number "
    b="#2164 "
    span="Here's an item summary:"
    
    br
    br
    br

    b="Link from: "
        a(href="https://chandigarhmetro.com")="https://chandigarhmetro.com"
        br
    b="Link to: "
        a(href="https://bbc.com")="https://bbc.com"
        br
    b="Link type: "
    b="item total: "
    span="€150"
    br
    b="Publish Date: "
    span="07/10/21"
    br
    b="Anchor text: "
    span="text"
    br
    b="Article title: "
    span="Not Available"
    br
    b="status: "
    span="Accepted"

    br
    br
    br

    div(style="display:flex;flex-direction:column;justify-content: center;align-items:center;width:100%;")
        a(href="https://app.link.builders")
            button(class="btn btn-lg btn-primary " )="Login to Link.Builders"
    br
    br
    br
    i
        h4(style="opacity:0.9")="Through our platform, you will be able to..."
    br
    p="- Monitor your links: we are checking the links every day and you will notice if a link disappears, is changing rel-attribute, anchor text or similar."
    br
    p="- Import all backlinks and monitor links not bought through us as well"
    br
    p="- Visualize your data in dashboards including anchor texts, JuiceFlow, link growth over-time etc"
    br
    p="- Generate link schedules based on your preferences"
    br
    p="....and much more. We are looking forward to see you soon again!"

    br
    br
    br