extends index

block orderComplete
    br
    h4(style="font-weight:bold")="YOUR ORDER #2164 HAS BEEN DELIVERED"
    br
    p="We have delivered your order. Here's a summary"
    br
    b(style="font-size:18px")="Number of links accepted: 1"
   
    br
    b(style="font-size:18px")="Number of links rejected: 0"
    br
    br
    br
    b="Name:"
    span="Zelalem Client"
    br
    b="Order Number: "
    span="2164"
    br
    b="Number of Links: "
    span=" 1"
    br
    b="Total amount:"
    span=" €150"
    br
    b="Order Date: "
    span="06/10/21"

    br
    br
    br

    p="Link from: "
        a(href="https://chandigarhmetro.com")="https://chandigarhmetro.com"
    p="Link to: "
        a(href="https://bbc.com")="https://bbc.com"
    p="status: Accepted"

    br
    br
    br
    div(style="display:flex;flex-direction:column;justify-content: center;align-items:center;width:100%;")
        a(href="https://app.link.builders")
            button(class="btn btn-lg btn-primary " )="Login to Link.Builders"
    br
    br
    br
    i
        h4(style="opacity:0.8")="Through our platform, you will be able to..."
    br
    p="- Monitor your links: we are checking the links every day and you will notice if a link disappears, is changing rel-attribute, anchor text or similar."
    br
    p="- Import all backlinks and monitor links not bought through us as well"
    br
    p="- Visualize your data in dashboards including anchor texts, JuiceFlow, link growth over-time etc"
    br
    p="- Generate link schedules based on your preferences"
    br
    p="....and much more. We are looking forward to see you soon again!"

    br
    br
    br